<!-------------------Banner Section--------------------------------------->

<section class="tall-90 md-tall.100 grid sm-tall-40 banner banner-sm bg-overlay">
  <div class="col-12 grid md-tall-10 light-text navigation" id="top">
    
      

        <nav class="col-12-top right margin-t-minus padded-l hide-sm md-padded-blr-5">
        <a href="index.html#top"> Home </a>
        <a href="index.html#me"> Über mich </a>
        <a href="index.html#service"> Service </a>
        <a href="index.html#kontakt"> Kontakt </a>
        <a href="mailto:mail@russold-sommelier.com" class="emphasis-button border-none sm-padded-l-0 a-inline-block mail-button"> Nachricht </a>
        </nav>

        <div class="col-12-top right">
        <a class="hamburger-button show-sm"> &#9776; </a>
        </div>


        <!-------------------------Mobile Menu-------------------------->

        <div class="mobile-menu sm-mobile-menu">
        <nav>
        <a href="index.html#top"> Home </a>
        <a href="index.html#me"> Über mich </a>
        <a href="index.html#service"> Service </a>
        <a href="index.html#kontakt"> Kontakt </a>
        <a href="mailto:mail@russold-sommelier.com" class="emphasis-button border-none sm-padded-l-0 a-inline-block"> Nachricht </a>
        </nav>
        </div>

</div>

    <div class="col-12-middle left">
      <img src="/images/logo_alternative_white_web_sebastian.png" class="logo sm-padded-l-5" alt="Logo Sebastian Russold">
          <h1 class="hide"> Sebastian Russold. </h1>
          <h1 class=" md-padded-0 md-font-size-big sm-font-size-medium sm-margin-l-r-1">
            Sommelier <br>in allen Lebenslagen. <br> <span class="header-h1 sm-font-size-small">Sommelier. Consulting. Event. </span></h1>
        
    </div>
</section>